{% extends "layout/base.html" %} {% block content%}
<div class="content-section">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Sign up Todey</legend>
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-onlige-info" type="submit" style="background-color:#0c4b33; color:#fff">
                Sign up
            </button>
        </div>
    </form>
    <div class="border-top py-3">
        <small class="text-muted">
            I have An Account !<a href="#" class="ml-2">Login</a>
        </small>
    </div>
</div>
{%endblock content%}