{% extends "layout/base.html" %}


{% block content%}

{%for post in posts%}

<div class="card text-white bg-dark mb-3" style="background-color:#0c4b33 !important ; display: flex;
    flex-direction: inherit;">
    <img class="rounded-circle article-img" src="{{post.author.profile.image.url}}"
        style="height: 100px; width: 100px; margin:10px;">
    <div>
        <div class="card-header">{{post.author}} on : {{post.date_post|date:"d F Y"}}</div>
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.content}}</p>
        </div>
    </div>
</div>

{%endfor%}

{%endblock content%}